html {
	background-size: cover;
	background-position: center center;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12pt;
	color: #ffffff;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12pt;
	color: #ffffff;
}

#container {
	background: rgba(0,0,0,0.70)
}

#logo {
	height: 100px;
	width: auto;
	display: block;
	float: left;
}

