html {
	background-size: cover !important;
	background-position: center center !important;
}

body {
}

#container {
	background: rgba(0,0,0,0.70)
}

#logo {
	height: 100px !important;
	width: auto !important;
	display: block !important;
	float: left !important;
}

.wufoo .info h2 {
	font-family: Helvetica, Arial, Verdana, sans-serif !important;
	font-size: 16pt !important;
	color: #ffffff !important;
}

.wufoo .info div {
    font-size: 12pt !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.info div {
    font-size: 12pt !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.wufoo label.desc, .wufoo legend.desc {
    font-size: 12pt !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-size: 12pt !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

form li div label, form li span label {
    margin: 0 !important;
    padding-top: 3px !important;
    clear: both !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 10pt !important;
    color: #fff !important;
    display: block !important;
}

.wufoo label.desc, .wufoo legend.desc {
    font-size: 12pt !important;
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
	font-family: Helvetica, Arial, Verdana, sans-serif !important;
	font-size: 12pt !important;
	color: #000000 !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: #ffffff !important;
    border: 1px solid #888888 !important;
    -webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	padding: 5px 8px !important;
}

